canvas {
	margin-top: 12px;
	max-height: calc(100% - 24px);
	max-width: 100%;
	border: 1px dashed #e4e4e4;
}

.card .card-content .card-title {
	line-height: 8px;
}
.card .card-title {
	font-size: 18px;
}

.card {
    margin-bottom: 0px;
}

#console{
    height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.2);
}